@import url(https://igorlazzaretti.com/reset.css);

body {
    background-color: beige;
    /* Fundo bege */
    font-family: monospace;
    /* Fonte com estilo retrô */
    width: 95vw;
    height: 95vh;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    grid-template-columns: 1fr 4fr;
    /* Proporção das colunas */
    grid-gap: 10px;
    height: 81vh;
    width: 95%;
    border: 5px solid black;
    /* Borda preta */
    padding: 20px;
    margin: 30px 30px 30px 3.5vw;
    align-items: center;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 89vw;
}

#horario {
    font-size: clamp(8px, 8vw, 35px);
}

.main {
    height: 20vw;
    width: 65vw;
    display: flex;
    /* Ativa o Flexbox */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: flex-start;
    /* Centraliza verticalmente */
    flex-wrap: wrap;
    /* Permite que os itens  
                     quebrem em várias linhas se necessário */
    gap: 20px;
    /* Adiciona espaço entre os labels */
    margin-left: 17%;
    margin-top: -100px;
}

.main label {
    width: 70px;
    display: flex;
    flex-direction: column;
    /* Alinha a imagem e o texto verticalmente */
    align-items: center;
    /* Centraliza a imagem e o texto horizontalmente */
    cursor: pointer;

    /* Muda o cursor para indicar que é clicável */
    &:hover {
        transform: scale(1.15);
        transition: ease-in-out 0.5s;
    }
}

.main label img {
    border-radius: 40px;
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 7px;
}

.main label p {
    font-size: 1.1rem;
}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    grid-area: menu;
    display: flex;
    gap: 10px;
}

.conteudo {
    grid-area: conteudo;
    display: flex;
    gap: 10px;
}

.item {
    background-color: white;
    border: 1px solid black;
    flex-grow: 1;
    /* Os itens ocupam todo o espaço disponível */
}

.footer {
    grid-area: footer;
    text-align: center;
    width: 94vw;
    justify-content: center;
    align-items: center;
    display: none;
}