/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');





*{ background-color: black;
padding: none;
display: block;
align-items: center;
font-family: 'Paytone One', sans-serif;
font-size: 23px;
    } 
button{
    border-width: 4x;
 border-color: rgb(83, 19, 143);
 color: rgb(112, 112, 112);
width: 400px;
height: 400px;
border-radius: 100%;
margin-bottom: 400px;
margin-top: 15%;
margin-left: auto;
margin-right: auto;
}

button:hover{
    border-color: rgb(201, 120, 238);
    box-shadow: 0px 5px 1000px rgb(32, 76, 196);
    color: rgb(255, 255, 255)
}
button:visited{
    border-color: rgb(201, 120, 238);
    box-shadow: 0px 5px 10000px rgb(32, 76, 196)
    ;text-decoration-color: black;
}
button:onclick{
text-decoration: none;
border-color: rgb(201, 120, 238);
    box-shadow: 0px 5px 1000px rgb(32, 76, 196);
    color: rgb(255, 255, 255)
}
a:link {text-decoration: none;}