
body{
        font-family: 'Teko', sans-serif;
    } 
.color-change-2x {
      -webkit-animation: color-change-2x 10s ease-in-out infinite alternate both;
                animation: color-change-2x 10s ease-in-out infinite alternate both;
    }
    @-webkit-keyframes color-change-2x {
        0% {
          background: #19dcea;
        }
        100% {
          background: #b22cff;
        }
      }
      @keyframes color-change-2x {
        0% {
          background: #19dcea;
        }
        100% {
          background: #b22cff;
        }
      }
      
h1{
    font-size: 150px;
    color: rgb(255, 249, 255);
        text-align: center;
    height: 80px;

}
h1:hover{
    color: rgb(255, 255, 255);
}
p{
    color: aliceblue;
    text-align: center
}
div{
    text-align: center;
    min-width: 50px;
}
button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img{
    max-width: 100px;
    max-height: 150px;
    text-align: center
}
img:hover{
    transform: scale(1.4);
    transition: 0.4s;

}

footer{
    color:rgb(215, 210, 233);
    text-align: center;
    height: 470px;
}