/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
body{
  font-family: 'Paytone One', sans-serif;
  background-color: black; padding: none;  }
#loguinhos{text-align: right;
  min-width: 30px; width: auto; margin-top: 0px;justify-content: center;}
header{align-items: center;display: flex;justify-content: center;padding-left: 13px; padding-right: 13px; border-bottom: 10px; border-bottom: 2px solid rgb(201, 120, 238);}
#header-site{align-items: center; margin-right:auto; inline;justify-content: center; font-size: 3.5vw;width: 1rem;}
#header-site:visited{text-decoration: none; color: aliceblue; text-decoration-color: black;}
#header-site:hover{color: blueviolet;}
h1{
    font-size: 4rem;
    color: rgb(255, 249, 255);
        text-align: center;  height: 40px;   }
h1:hover{
    color: rgb(255, 255, 255);   }
h2, p{
    color: aliceblue;
    text-align: center; font-size: 3em; font}
div{
    text-align: center;
    min-width: 50px;  }
button{ font-family: 'Paytone One', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;  color:white; background-color: black; border: solid rgb(101, 33, 139); margin-bottom: 12px; width: 60%; height: 100%; font-size: 2rem;}
  button:hover{ background-color: blueviolet;}
img{
    max-width: 120%; height: 4svw; min-height: 35px; text-align: center;  }
img:hover{
    transform: scale(1.4);
    transition: 0.6s;  }
p{font-size: 2rem;}
footer{ font-size: 1.5rem;
    color:rgb(215, 210, 233);
    text-align: center; justify-items: center;
    align-items: center; margin-bottom: 20px;}
#live{  height: 35px; }
#video{ display: flex;display: grid; justify-items: center;
align-items: center; width:100%; height: 400px; max-width: 975px; margin-left: auto; margin-right: auto;}
    