* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.slider-container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/background-img.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.slide.active {
    opacity: 1;
}

.slide-content {
    text-align: center;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    width: 35vw;
    color: white;

    @media screen and (max-width: 768px) {
        width: 75vw;
    }
}

.slide-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    max-width: 800px;
}

.nav-button {
    position: absolute;
    margin-left: 10vw;
    margin-right: 10vw;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.2);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    transition: background-color 0.3s;

    @media screen and (max-width: 768px) {
        width: 25px;
        height: 25px;
        font-size: 12px;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
    }
}

.nav-button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.dots-container {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background: white;
}

.audio-control {
    position: absolute;
    bottom: 10vw;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.3);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;

    @media screen and (max-width: 768px) {
        bottom: 25vw;
        left: 85%;
    }
}

h2 {
    font-family: "Life Savers", serif;
    font-weight: 900;
    font-style: normal;
}

.text-content {
    font-family: "Life Savers", serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 768px) {
    .slide-content h2 {
        font-size: 1.8rem;
    }
}